import { useEffect, useState } from 'react';

export const App = () => {
  const [m, setMessage] = useState({ message: '' });

  return (
    <div style={{ textAlign: 'center' }}>
      <h1>Welcome to client!</h1>
    </div>
  );
};

export default App;
