import { combineReducers } from 'redux';
// default-imports

// eslint-disable-next-line @typescript-eslint/no-empty-interface
export interface StoreState {
  // state
}

export const reducers = combineReducers<StoreState>({
  // reducers
});